.container {
  width: 90%;
  margin: auto;
  
}

.dice {
  text-align: center;
  
  display: inline-block;

}
.mayDice, .willDice {
  margin:20px;

}


body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn {
  font-size:24px;
  margin:30px 20px;
  padding:15px 30px;
  color:#4ECCA3;
  font-family: 'Indie Flower', cursive;
  border-radius:10%;
  border:none;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width:680px) {
  h1 {
    font-size:30px
  }

.dice {
  width:40%  
}
.bttn {
  font-size:1rem;  
  margin:10px;
}
}
